/* Reset and box-sizing */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body { margin: 0; font-family: Arial, sans-serif; }

/* Typography */
b, strong { font-weight: 700; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Links */
a:active, a:hover { outline: 0; text-decoration: underline; }

/* Lists */
ol, ul, dl { margin: 0; padding: 0; list-style: none; }
li { list-style: none; }

/* Images */
img { border: 0; max-width: 100%; vertical-align: middle; }

/* Tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Hidden and visually hidden */
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0 0 0 0); border: 0; }

/* Clearfix */
.clearfix::after { content: ""; display: table; clear: both; }

/* Buttons */
button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  font-size: 100%;
  line-height: normal;
}

/* Font Awesome */
@font-face {
  font-family: FontAwesome;
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/fontawesome-webfont.woff2') format('woff2'),
       url('fonts/fontawesome-webfont.woff') format('woff'),
       url('fonts/fontawesome-webfont.ttf') format('truetype'),
       url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font Awesome Sizes */
.fa-lg { font-size: 1.33333em; line-height: .75em; vertical-align: -15%; }
.fa-2x { font-size: 2em; }
.fa-3x { font-size: 3em; }
.fa-4x { font-size: 4em; }
.fa-5x { font-size: 5em; }

/* Float helpers */
.pull-left { float: left; margin-right: .3em; }
.pull-right { float: right; margin-left: .3em; }

/* Spin animations */
.fa-spin { animation: fa-spin 2s linear infinite; }
@keyframes fa-spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(359deg); } }

/* Additional Reset Styles */
audio, canvas, video { display: inline-block; }
[hidden], audio:not([controls]) { display: none; }